<h2>Room: <br><%= @room.room_number %></h2>
<%= link_to "Add new patient", new_room_patient_path(@room) %>

 
<h3>Patient List</h3>
<div>

<%= link_to "Deceased Patients",  patient_expired_path %>

<% @room.patients.each do |patient| %>
    <li><%= link_to patient.full_name, patient_path(patient) %></li>
<% end %>
</div>
