<h3>Find By Specialty</h3>
<%= link_to "Surgeon", surgeon_doctors_path %>
<%#= link_to "Pediatrics", doctors_pediatrics_path %>

<% @doctors.each do |doctor| %>
    <%= link_to doctor.name, doctor_path(doctor) %><br>
<% end %>