<h1><%= @doctor.name %><br></h1>
<li>specialty: <%= @doctor.specialty %><br></li>
<li>phone number: <%= @doctor.phone_number %><br></li>

<h3>Patient List </h3>
<%= render partial: '/patients', locals: {patients: @doctor.patients} %>